<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0YZKtToqyWhWZvNQeHHM7DZH14wv_0R0</string>
	<key>GCM_SENDER_ID</key>
	<string>873404385280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucascapelao.projetoPP</string>
	<key>PROJECT_ID</key>
	<string>projetopp-741c1</string>
	<key>STORAGE_BUCKET</key>
	<string>projetopp-741c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873404385280:ios:f48598d08a580f42f9f0e5</string>
	<key>DATABASE_URL</key>
	<string>https://projetopp-741c1-default-rtdb.firebaseio.com</string>
</dict>
</plist>